@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  /*  box-sizing property in CSS defines how the total width and height of an element are calculated—whether or not padding and borders are included in the element's width and height. */
  box-sizing: border-box; /*Padding and border are included in the specified width/height.*/
  font-family: Outfit;
}

#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
